# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
jspm_packages/
web_modules/

# Build and Production outputs
dist/
build/
out/
.next/
.nuxt/
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.parcel-cache/

# Environment Variables & Local Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env.*

# Temporary / Cache folders
.temp/
.tmp/
.cache/
*.swp
*.swo

# IDE & Editor Settings
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.sublime-workspace
*.sublime-project

# OS Metadata Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
__MACOSX/


old_logo
design-system
.agents